{% extends "body.html" %}

{% block title %}Photographies Célestes - Astronomia{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Photographies Célestes</h2>

    <div class="mt-4">
        <h3>Mars</h3>
        <img src="{{ url_for('static', filename='images/images/mars_planet.jpg') }}" alt="Mars" class="img-fluid mb-3" width="200">
        <p><strong>Description :</strong> Une vue détaillée de la planète rouge, Mars, prise lors d'une mission spatiale récente.</p>
    </div>

    <div class="mt-4">
        <h3>Jupiter</h3>
        <img src="{{ url_for('static', filename='images/images/jupiter_giant.jpg') }}" alt="Jupiter" class="img-fluid mb-3" width="200">
        <p><strong>Description :</strong> La plus grande planète de notre système solaire, capturée avec une résolution incroyable.</p>
    </div>

    <div class="mt-4">
        <h3>Saturne</h3>
        <img src="{{ url_for('static', filename='images/images/saturne_ring.jpg') }}" alt="Saturne" class="img-fluid mb-3" width="200">
        <p><strong>Description :</strong> Un magnifique cliché de Saturne avec ses célèbres anneaux.</p>
    </div>
{% endblock %}