{% extends "body.html" %}

{% block title %}Télescopes - Astronomia{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Liste des Télescopes</h2>

    <div class="mt-4">
        <h3>Pour enfants</h3>
        <p><strong>Marque :</strong> Orion</p>
        <p><strong>Modèle :</strong> FunScope 76mm</p>
        <p><strong>Date de sortie :</strong> 2015</p>
        <p><strong>Score :</strong> 3.5/5</p>
    </div>

    <div class="mt-4">
        <h3>Automatisé</h3>
        <p><strong>Marque :</strong> Celestron</p>
        <p><strong>Modèle :</strong> NexStar 6SE</p>
        <p><strong>Date de sortie :</strong> 2018</p>
        <p><strong>Score :</strong> 4.5/5</p>
    </div>

    <div class="mt-4">
        <h3>Télescope complet</h3>
        <p><strong>Marque :</strong> Meade</p>
        <p><strong>Modèle :</strong> LX200-ACF 10"</p>
        <p><strong>Date de sortie :</strong> 2020</p>
        <p><strong>Score :</strong> 5/5</p>
    </div>
{% endblock %}